#canvas {
    height: 750px;
    width: 1000px;
    background-color: black;
}

#playerPaddle {
    background-color: white;
    position: absolute;
    height: 150px;
    width: 50px;
    top: 150px;
    left: 50px;
}

#aiPaddle {
    background-color: white;
    position: absolute;
    height: 150px;
    width: 50px;
    top: 150px;
    left: 900px;
}

#ball {
    background-color: white;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 250px;
    left: 600px;
}